.container-star {
  overflow-y: scroll;
  font-size: 13px;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-star::-webkit-scrollbar {
  display: none;
}

.container-star {
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container-star > h2 {
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 15px;
}

ul > li {
  font-size: 17px;
  font-weight: 300;
  margin: 6px;
  padding: 8px;
  background-color: rgba(211, 213, 236, 0.815);
  text-align: center;
  decoration: none
}